.container {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.bgImage {
    height: 65%;
    width: 100%;
    z-index: -999;
}

.floatData {
    height: 250px;
    width: 900px;
    border-radius: 15px;
    opacity: 0.9;
}
.title {
    position: absolute;
    top: 25%;
}

